---
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
import RecentWorks from '../components/RecentWorks.astro';
import Stepts from '../components/Stepts.astro';
import Services from '../components/Services.astro';
import Contact from '../components/Contact.astro';
import AboutUs from '../components/AboutUs.astro';
---

<Layout 
	title="Reformas y Construcción en Barcelona | Urban Project Barcelona"
	description="Urban Project Barcelona - Tu empresa de confianza en reformas y construcción en Barcelona. Equipo experimentado, calidad y diseño en cada proyecto."
	author="Sabah Rahal"
>
	<main>
		<Hero/>
		<Stepts/>
		<Services/>
		<RecentWorks/>
		<AboutUs/>
		<Contact/>
	</main>
</Layout>

