<section id="about-us" class="mt-[8rem] py-[4rem] bg-gray-50">
  <div
    class="mx-auto container sm:max-w-sm-custom md:max-w-md-custom lg:max-w-md-custom xl:max-w-xl-custom 2xl:max-w-2xl-custom px-2 py-8 sm:py-12 lg:py-16"
  >
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
      <div
        class="relative h-64 overflow-hidden rounded-lg sm:h-80 lg:order-last lg:h-full"
      >
        <img
          alt="Party"
          src="https://images.unsplash.com/photo-1527529482837-4698179dc6ce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
          class="absolute inset-0 h-full w-full object-cover"
        />
      </div>

      <div class="lg:py-24">
        <h2 class="text-4xl font-bold tracking-widest">Sobre Nosotros</h2>
        <h3 class="mt-4 tracking-widest font-mono text-gray-700">Urban Project Barcelona</h3>
        <p class="text-gray-700">
          Esta formado por valioso equipo de personas, con años de experiencia
          en el sector de la construcción, abarcando cada uno de los campos
          necesarios para la elaboración, dirección y ejecución de nuestras
          obras.
        </p>
        <p class="text-gray-700">Entre todo nuestro equipo, tomamos cada proyecto, como un
            compromiso.</p>

        <h3 class="text-3xl font-bold tracking-widest mt-8">¿Qué Hacemos?</h3>
        <p class="text-gray-700 mt-4">
            La implicación es nuestra mejor herramienta, ya que cualquier reforma, no la vemos como tal, sino que, la visualizamos como un proyecto a realizar, en el cual todo es importante. Cuidamos desde la limpieza, el orden, el tiempo, la calidad, el diseño, la practicidad y lo que sea necesario para que nuestros cliente obtengan el grado de satisfacción esperado.
        </p>
        <p class="text-gray-700">
            Por ello nuestra comunicación es fundamental para acompañar a nuestros cliente en este camino.
        </p>
      </div>
    </div>
  </div>
</section>
