<div class="overflow-hidden rounded-lg shadow-lg lg:grid xl:grid-cols-4 2xl:grid-cols-3 mt-10">
    <img
        alt="Trainer"
        src="/CTA.png"
        class="h-auto w-full object-cover md:h-full xl:col-span-2 md:px-2 2xl:col-span-1"
        loading="lazy"
    />

    <div class="p-4 text-center sm:p-6 xl:col-span-2 lg:p-8">
        <p class="text-sm font-mono text-gray-500 uppercase tracking-widest">
            Conoce de cerca Urban Project
        </p>

        <h2 class="mt-6 font-black uppercase">
            <span class="text-4xl font-black sm:text-5xl lg:text-5xl">
                ¿Quieres ver más proyectos?
            </span>

            <span class="mt-2 block text-sm text-gray-600"
                >Unete a nuestra familia</span
            >
        </h2>

        <a
            class="mt-8 inline-block w-full bg-black py-4 text-sm font-bold uppercase tracking-widest text-white hover:bg-gray-900 rounded-lg"
            href="https://www.instagram.com/urbanprojectbcn/"
            target="_blank"
        >
            Siguenos en Instagram
        </a>

        <p class="mt-8 text-xs font-medium uppercase text-gray-400">
            Mantente informado de nuestros servicios
        </p>
    </div>
</div>
