---

---

<form id="contact-form" class="rounded-lg py-5 shadow-lg space-y-4 px-2">
  <input type="hidden" name="contact_number" />
  <p id="title-form" class="text-center text-lg font-medium tracking-widest">
    Envíanos un correo
  </p>
  <div class="space-y-4">
    <div>
      <label for="user_name" class="sr-only">Nombre</label>
      <div class="relative">
        <input
          name="user_name"
          type="text"
          class="w-full rounded-lg border border-gray-200 p-4 pe-12 text-sm shadow-sm"
          placeholder="Nombre completo"
          required
        />

        <span class="absolute inset-y-0 end-0 grid place-content-center px-4">
          <svg
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-4 h-4 text-gray-500"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"
            ></path>
          </svg>
        </span>
      </div>
    </div>

    <div>
      <label for="user_phone" class="sr-only">Teléfono</label>

      <div class="relative">
        <input
          name="user_phone"
          type="tel"
          class="w-full rounded-lg border border-gray-200 p-4 pe-12 text-sm shadow-sm"
          placeholder="Teléfono"
          required
        />

        <span class="absolute inset-y-0 end-0 grid place-content-center px-4">
          <svg
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-4 h-4 text-gray-500"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M10.5 1.5H8.25A2.25 2.25 0 006 3.75v16.5a2.25 2.25 0 002.25 2.25h7.5A2.25 2.25 0 0018 20.25V3.75a2.25 2.25 0 00-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3"
            ></path>
          </svg>
        </span>
      </div>
    </div>

    <div>
      <label for="user_email" class="sr-only">Correo Electrónico</label>

      <div class="relative">
        <input
          name="user_email"
          type="email"
          class="w-full rounded-lg border border-gray-200 p-4 pe-12 text-sm shadow-sm"
          placeholder="email"
          required
        />

        <span class="absolute inset-y-0 end-0 grid place-content-center px-4">
          <svg
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-4 h-4 text-gray-500"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"
            ></path>
          </svg>
        </span>
      </div>
    </div>

    <div>
      <label for="user_issue" class="sr-only">Asunto</label>

      <div class="relative">
        <input
          name="user_issue"
          type="text"
          class="w-full rounded-lg border border-gray-200 p-4 pe-12 text-sm shadow-sm"
          placeholder="Asunto"
          required
        />

        <span class="absolute inset-y-0 end-0 grid place-content-center px-4">
          <svg
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-4 h-4 text-gray-500"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M8.625 9.75a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H8.25m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H12m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0h-.375m-13.5 3.01c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.184-4.183a1.14 1.14 0 01.778-.332 48.294 48.294 0 005.83-.498c1.585-.233 2.708-1.626 2.708-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z"
            ></path>
          </svg>
        </span>
      </div>
    </div>

    <div>
      <label for="message" class="sr-only">Mensaje</label>
      <div>
        <textarea
          name="message"
          class="w-full rounded-lg border border-gray-200 p-4 pe-12 text-sm shadow-sm resize-none"
          placeholder="Mensaje"
          rows="5"></textarea>
      </div>
    </div>

    <button
      type="submit"
      class="block w-full rounded-lg bg-black px-5 py-3 text-sm font-medium text-white hover:bg-gray-900"
    >
      Enviar
    </button>

    <p class="text-center text-sm text-gray-500">
      ¿Atención directa?
      <a class="underline" href="tel:+34675073033">Llámanos</a>
    </p>
  </div>
</form>

<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"
></script>
<script type="text/javascript">
(function () {
  // https://dashboard.emailjs.com/admin/account
  emailjs.init("Aq3JOQKDIkfuxLe6K");
})();
</script>
<script type="text/javascript">
window.onload = function () {
  const form = document.getElementById("contact-form");
  form.addEventListener("submit", function (event) {
    event.preventDefault();
    this.contact_number.value = (Math.random() * 100000) | 0;
    emailjs.sendForm("service_9ly3erl", "template_722f2uu", this).then(
      function () {
        const title = document.getElementById("title-form");
        title.innerHTML = "¡Gracias por contactarnos!";
        title.classList.add("text-green-800");
        form.reset();
      },
      function (error) {
        console.log("FAILED...", error);
      }
    );
  });
  };
</script>
