<div
  class="relative bg-cover bg-center h-[90vh] bg-[url(/hero.webp)]"
>
  <div class="absolute inset-0 bg-black opacity-60"></div>
  <div class="absolute inset-0 flex items-center justify-center text-center">
    <div class="text-white">
      <h1 class="text-4xl font-bold">Expertos en reformas y construcción en Barcelona</h1>
      <p class="text-lg mt-5 max-w-xl mx-auto text-gray-200">Expertos en el ámbito de las reformas y construcción en Barcelona, donde tus proyectos se convierten en realidades de calidad</p>
      <a
      class="inline-block rounded border border-white bg-white px-12 py-3 text-sm font-medium text-black hover:bg-slate-200 duration-75 mt-10"
      href="#contact"
    >
      Obtener presupuesto
    </a>
    </div>
  </div>
</div>
