---
import { services }from '../data/services';
import CardServices from './CardServices.astro';
---

<section id="services" class="mt-[8rem] py-[4rem] bg-gray-50">
  <header class="text-center mb-10 tracking-widest">
    <span class="font-mono text-gray-700">Reformas integrales</span>
    <h2 class="text-3xl font-bold">Nuestros servicios</h2>
  </header>
  <div
    class="container sm:max-w-sm-custom md:max-w-md-custom lg:max-w-md-custom xl:max-w-xl-custom 2xl:max-w-2xl-custom px-2"
  >
    <div class="grid grid-cols-2 md:grid-cols-4 2xl:grid-cols-6 gap-4">
        {
            services.map(service => <CardServices title={service.title} description={service.description} icon={service.icon}/>)
        }
    </div>
  </div>
</section>
